extends ../../index

block title{{ config.title|raw }} - ships

block pageContent
  for object in objects
    article(class='object object-' + object.slug)
      header
        img(src='/img/fleets/' + object.slug + '.png', alt=object.name + ' - ' + object.category, title= object.name + ' - ' + object.category)
        dl.meta
          dt Name:
          dd
            a(href='/shipgen/fleets/' + object.slug)= object.name
          hr
          dd= object.excerpt
                
            
        
      

