{% extends themeRootFile %}

{% block pageContent %}
    <article class="object object-{{ object.slug }}">
        <header>
            <img src="/img/slots/{{object.slug}}.png" alt="{{object.name}} - {{object.category}}" title="{{object.name}} - {{object.category}}" />
            <dl class="meta">
                <dt>Name:</dt><dd>{{object.name}}</dd>
                <hr/>
                <dt>Class:</dt><dd><a href="/shipgen/classes/{{object.class.slug}}">{{object.class.name}}</a></dd>
            </dl>
        </header>
        
        <div class="values">
            <dl>
                <dt>Size</dt><dd>{{object.size}} cm</dd>
                <hr>
                <dt>Cost</dt><dd>{{object.cost}} pts</dd>
            </dl>
            
            <div class="excerpt">{{object.desc}}</div>
        </div>
    </article>
{% endblock %}
