{% extends themeRootFile %}

{% block pageContent %}
    <header>mods:</header>
    
    <nav>
        <ul class="modNav">
            <li><a href="/shipgen/mods/engines">Engines</a></li>
            <li><a href="/shipgen/mods/shields">Shields</a></li>
            <li><a href="/shipgen/mods/hulls">Hulls</a></li>
            <li><a href="/shipgen/mods/weapons">Weapons</a></li>
            <li><a href="/shipgen/mods/generators">Generators</a></li>
            <li><a href="/shipgen/mods/sensors">Sensors</a></li>
        </ul>
    </nav>
{% endblock %}
