extends ../../index

block pageContent
  header mods:

  nav
    ul.modNav
      li
        a(href='/shipgen/mods/engines') Engines
      li
        a(href='/shipgen/mods/shields') Shields
      li
        a(href='/shipgen/mods/hulls') Hulls
      li
        a(href='/shipgen/mods/weapons') Weapons
      li
        a(href='/shipgen/mods/generators') Generators
      li
        a(href='/shipgen/mods/sensors') Sensors
