{% extends themeRootFile %}

{% block title %}{{ config.title|raw }} - crews{% endblock %}

{% block pageContent %}

    {% for object in objects %}
        <article class="object object-{{ object.slug }}">
            <header>
                <a href="/shipgen/people/captains/{{object.slug}}"><img src="/img/people/captains/{{object.slug}}.png" alt="{{object.name}}" title="{{object.name}}" /></a>
                <dl class="meta">
                    <dt>Name:</dt>
                    <dd><a href="/shipgen/people/captains/{{object.slug}}">{{object.name}}</a></dd>
                    <hr/>
                    
                    <dt>Category:</dt>
                    <dd>{{object.category}}</dd>
                    <hr/>
                    
                    <dt>Fleet:</dt>
                    <dd><a href="/shipgen/fleets/{{object.fleet.slug}}">{{object.fleet.name}}</a></dd>
                    <hr/>
                </dl>
                
            </header>
            
            <div class="values">
                <dl class="attributes">
                    <dt>Strength:</dt>
                    <dd>{{object.strength}}</dd>
                    <hr/>
                    
                    <dt>Aim:</dt>
                    <dd>{{object.aim}}</dd>
                    <hr/>
                    
                    <dt>Initiative:</dt>
                    <dd>{{object.initiative}}</dd>
                    <hr/>
                    
                    <dt>Morale:</dt>
                    <dd>{{object.morale}}</dd>
                    <hr/>
                </dl>
                
                <div class="excerpt">{{object.excerpt}}</div>
            </div>
            
            {% if object.perks %}
                <footer>
                    <div class="perks">
                        <ul>
                            <lh>Perks:</lh>
                            {% for perk in object.perks %}
                                <li><a href="/shipgen/people/perks/{{perk.slug}}">{{perk.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </footer>
            {% endif %}
        </article>
    {% endfor %}  
{% endblock %}
