{%- extends 'layout.html' -%}

{%- block head -%}
    <title>{%- block title -%}{{ config.title|raw }} - {{config.branding|raw}}{%- endblock -%}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    
    <link rel="stylesheet" type="text/css" href="/css/{{theme}}/main.css" />
    
    {%- block css -%}{%- endblock -%}
    
    {%- block opengraphdata -%}
    <meta property="og:title" content="{{config.name}} - {{config.branding|raw}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{config.protocol}}{{config.url}}" />
    <meta property="og:image" content="{{config.protocol}}{{config.url}}/img/logo.png" />
    {%- endblock -%}
{%- endblock -%}

{%- block body %}

    {%- block before_header -%}{%- endblock %}
    <header class="main">
        {%- block before_logo -%}{%- endblock %}
        <div id="logo">
          {%- if config.logo -%}
            <a href="/">
                <img src="{{ config.protocol }}{{ config.url }}{{ config.logo }}" height="60" width="60" alt="{{ config.title }}" title="{{ config.title }}" />
            </a>
          {%- else -%}
            <a href="/">{{ config.title|raw }}</a> - <span>{{ config.branding|raw }}</span>
          {%- endif -%}
        </div>
        {%- block after_logo -%}{%- endblock -%}
        
      
        {%- block before_header_nav -%}{%- endblock %}
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/shipgen/">shipgen</a></li>
            </ul>
        </nav>
      {%- block after_header_nav -%}{%- endblock %}
    </header>
    {% block after_header -%}{%- endblock -%}
    <div id="container">  
        {%- block before_content -%}{%- endblock -%}
        <div id="content">
            {%- block pageTitle -%}{%- endblock -%}
            {%- block pageAuthor -%}{%- endblock -%}
            
            <div class="content">
              {%- block pageContent -%}{%- endblock %}
            </div>
            
            {%- block before_aside -%}{%- endblock -%}
            {%- block aside -%}
                <aside class="main">
                    <header>Important Links:</header>
            
                    <nav>
                        <ul class="shipgen-nav">
                            <li><a href="/shipgen/ships">ships</a></li>

                            <li><a href="/shipgen/fleets">fleets</a></li>
                            
                            <li><a href="/shipgen/classes">classes</a></li>
                            
                            <li><a href="/shipgen/crews">crews</a></li>
                            
                            <li><a href="/shipgen/slots">slots</a></li>
                        </ul>
                    </nav>
                </aside>
            {%- endblock -%}
            {%- block after_aside -%}{%- endblock -%}
            
            <footer>{%- block pageFooter -%}{%- endblock -%}</footer>
        </div>
        {%- block after_content -%}{%- endblock -%}
      
      
        {%- block before_footer -%}{%- endblock -%}
        {%- block footer -%}
            <footer class="main">
                {%- block before_footer_content -%}{%- endblock -%}
                {%- block footer_content -%}{%- endblock -%}
                {%- block after_footer_content -%}{%- endblock -%}
          
                {%- block before_footer_nav -%}{%- endblock -%}
                <nav>
                    <ul>
                        <li><a href="/impressum">impressum</a></li>
                    </ul>
                </nav>
                {%- block after_footer_nav -%}{%- endblock %}
            </footer>
        {%- endblock -%}
        {%- block after_footer -%}{%- endblock -%}
    </div>
    {%- block js -%}{%- endblock -%}
{%- endblock -%}
