{% extends themeRootFile %}

{% block pageContent %}
    <article class="object object-{{ object.slug }}">
        <header>
            <img src="/img/classes/{{object.slug}}.png" alt="{{object.name}}" title="{{object.name}}" />
            <dl class="meta">
                <dt>Name:</dt><dd>{{object.name}}</dd>
                <hr/>
                <dt>Sizes Min/Max:</dt><dd>{{object.minSize}}/{{object.maxSize}}</dd>
                <hr/>
                <dt>Crew Min/Max:</dt><dd>{{object.minCrew}}/{{object.maxCrew}}</dd>
            </dl>
        </header>
        
        <div class="desc">
            {{object.desc}}
        </div>
        
        <ul class="ships">
            <lh>Ships with this class:</lh>
            {% for ship in ships -%}
                <li><a href="/shipgen/ships/{{ship.slug}}">{{ship.name}}</a></li>
            {%- endfor %}
        </ul>
        
        <ul class="slots">
            <lh>ModSlots with this class:</lh>
            {% for slot in slots -%}
                <li><a href="/shipgen/slots/{{slot.slug}}">{{slot.name}}</a></li>
            {%- endfor %}
        </ul>
    </article>
{% endblock %}
