extend ../rule_static

block ruleset
  h1 Fleet Module:

  h4 Fleets:
  p.
    Fleets are "Races", "Factions", "Alliances", "Tribes", "Species", "Lifestyle" or any other kind of distinct group.
    They can be anarchic and non organized or they may be the ultimate fascist rulebook bureaucrazy, thats up to you, the creator.
    Just think about a group of ships that you would want to play with, think about the captains you would like to use and what skills you deem most important,
    then make your choices.
   
  h4 Ships:
  p.
    Ships are the basic element of your fleet's arsenal. Ships range from fighters, only a few tenfold of meters in length (or 2cm) to gigantic space fortresses, that can have sizes of small planets or even bigger.
    Ships have all of the below Extensions that are part of them, some being optional whilst others are not.

  h4 People:

  h5 Captains:
  p.
    Captains are the Elite of the elite, the bestest of the best. They will inspire your fleets to greatness and often are all that keeps a crew together.
    Captains can gain perks that effect your whole fleet.

  h5 Crew:
  p.
    Crews are the backbones of your fleet. They manage everything, from cleaning and maintainance to repairing the damage during battles to firing the weapons during the battle.
    Crews can gain perks that effect their ship/squadron.

  h5 Perks:
  p.
    Perks are skills your crew and captains can gain. They usually cost or give points and add to your [cost multiplier]().


  h4 Mods:

  h5 Weapons:
  p.
    Weapons are anything from the small lascannon of a fighter to the stardestroying gatling cannons of battleships.
    There are [Lazzzors](), [Cannons/Artillery](), [Rockets](), [Interceptors]() and [Sensor Jammers]().

  h5 Shields:
  p.
    Shields protect ships from impact damage. Every successfull hit will reduce the shields by the strength of the weapon,
    once the shields are depleted hits directly damage the hulls of the ship. Shield can regenerate, but they consume energy whilst doing so.

  h5 Hulls:
  p.
    The Hull is the outer protective layer of the ship. Damage to the hull will result in vented air and lost pressure.
    In addition to that damage to the hull can cause errors in other ship systems (circuits shortcutting, warped mechanical parts)

  h5 Engines:
  p.
    Engines move ships through space. They are giant devices, sometimes taking up half or more of the ship's mass.
    Engines have a maximum Speed and an accel/decel value. They also consume energy every turn.

  h5 Sensors:
  p.
    Sensors are your eyes and ears in the darkness. The range of your sensors will determine from how far away you can spot enemy ships.
    Knowing who your enemies are is quite important, especially if that energy signature behind those asteroids could either be a spacewhale or a stardestroyer class battleship.

  h5 Generators:
  p.
    Generators produce the much needed energy that keeps your spaceships functioning. Almost anything a ship can do costs energy, even standing still.
    Your task will constantly be to balance the energy needs of your modules and actions with the energy your generators are able to provide.
