{% extends themeRootFile %}

{% block pageContent %}
    <header>welcome to the shipgen</header>
    
    <nav>
        <ul class="shipgen-nav">
            <li><a href="/shipgen/ships">ships</a>({{counts.ships}})</li>

            <li><a href="/shipgen/fleets">fleets</a>({{counts.fleets}})</li>

            <li><a href="/shipgen/classes">classes</a>({{counts.classes}})</li>

            <li><a href="/shipgen/crews">crews</a>({{counts.crews}})</li>
            
            <li><a href="/shipgen/slots">slots</a>({{counts.slots}})</li>
        </ul>
    </nav>
{% endblock %}
